@charset "UTF-8";
/* Basic Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%; /* Для коректної роботи rem */
  line-height: 1.5;
  -webkit-text-size-adjust: 100%; /* Відключення масштабування тексту в мобільних браузерах */
}

body {
  margin: 0;
  font-family: Arial, sans-serif; /* Або інший базовий шрифт */
  background-color: #fff;
  color: #000;
}

img,
picture,
video,
canvas {
  max-width: 100%;
  height: auto;
  display: block;
}

button,
input,
textarea,
select {
  font: inherit;
  border: none;
  background: none;
}

a {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: "Bebas-Neue";
  src: url("../fonts/BebasNeue-Regular.woff2") format("woff2"), url("../fonts/BebasNeue-Regular.woff") format("woff"), url("../fonts/BebasNeue-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("ttf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik-One";
  src: url("../fonts/RubikOne-Regular.woff2") format("woff2"), url("../fonts/RubikOne-Regular.woff") format("woff"), url("../fonts/RubikOne-Regular.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Rubik-One", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #000000;
}

[class*=__container] {
  max-width: 430px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

p {
  color: #ffffff;
}

.header__logo {
  max-width: 147px;
  font-size: 20px;
  line-height: 100%;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 40px 0;
}
.header__logo--accent {
  color: #ffd700;
}

.hero-section {
  background-image: url(../../assets/images/background_photo-hero.png);
  background-position: top center;
  background-size: auto;
  background-repeat: no-repeat;
}
.hero-section__wrapper {
  display: flex;
  justify-content: space-between;
}
.hero-section__info {
  padding-top: 65px;
  font-size: 20px;
  line-height: 100%;
  text-transform: uppercase;
}
.hero-section__title {
  position: relative;
  padding-top: 17px;
  text-align: center;
  font-family: "Bebas-Neue";
  font-size: clamp(80px, 39.53vw, 170px);
  font-weight: 400;
  line-height: 100%;
  color: #f6f6f6;
  z-index: -2;
}
.hero-section__title--accent {
  text-align: center;
  font-family: "Bebas-Neue";
  font-size: 100px;
  line-height: 0.55;
  color: #ffd700;
}
.hero-section__button-wrapper {
  padding: 148px 0 112px;
  text-align: center;
}
.hero-section__background {
  width: 430px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.button-tickets {
  position: relative;
  z-index: 5;
  padding: 17px 54px;
  text-transform: uppercase;
  font-size: 25px;
  line-height: 100%;
  color: #ffffff;
  border: 1px solid #ffd700;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.75);
}

.topics-section__container {
  overflow: hidden;
  width: 100%;
}
.topics-section__marquee {
  display: flex;
  width: max-content;
  animation: marquee 10s linear infinite;
}
.topics-section__content {
  flex: 0 0 auto;
  padding: 0 10px;
  text-transform: uppercase;
  margin: 15px 0;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
.program-section__container {
  padding-top: 20px;
  background-color: #ffd700;
}
.program-section__wrapper {
  height: 264px;
  border-radius: 10px;
  background-image: url(../../assets/images/photo_people.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.program-section__title {
  padding: 20px 0 170px 20px;
  text-transform: uppercase;
  font-size: 30px;
  color: #ffd700;
}
.program-section__text {
  margin-top: 20px;
  font-family: "Montserrat";
  color: #000000;
}
.program-section__text--accent {
  font-family: "Bebas-Neue";
  font-size: 50px;
  line-height: 0.8;
}
.program-section__text h3 {
  font-weight: bold;
  font-size: 20px;
}
.program-section__text-bold {
  padding-bottom: 50px;
  font-weight: bold;
  font-size: 16px;
}
.program-section__text p {
  color: #000000;
}
.program-section__item {
  list-style-position: inside;
}/*# sourceMappingURL=style.css.map */