@use "../utils/variables" as *;
.footer {
  margin-top: 100px;
  &__container {
    background-color: $hero-color;
  }

  &__title {
    padding-top: 20px;
    text-transform: uppercase;
    font-size: 21px;
    line-height: 100%;
  }

  &__text {
    width: 334px;
    font-family: "Montserrat-Medium-Italic";
    font-size: 12px;
    line-height: 100%;
    color: $primary-color;

    &--accent {
      font-family: "Montserrat-Bold-Italic";
    }
  }

  &__message {
    display: flex;
    justify-content: right;
    gap: 20px;
    padding-bottom: 20px;
  }
}
