@use "../utils/variables" as *;
.header {
  &__logo {
    max-width: 147px;
    font-size: 20px;
    line-height: 100%;
    text-transform: uppercase;
    color: $secondary-color;
    margin: 0 auto;
    padding: 40px 0;

    &--accent {
      color: $hero-color;
    }
  }
}
