@use "../utils/variables" as *;
.hero-section {
  background-image: url(../../assets/images/background_photo-hero.png);
  background-position: top center;
  background-size: auto;
  background-repeat: no-repeat;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__info {
    padding-top: 65px;
    font-size: 20px;
    line-height: 100%;
    text-transform: uppercase;
  }

  &__title {
    position: relative;
    padding-top: 17px;
    text-align: center;
    font-family: "Bebas-Neue";
    font-size: clamp(80px, 39.53vw, 170px);
    font-weight: 400;
    line-height: 100%;
    color: $title-color;
    z-index: -2;

    &--accent {
      text-align: center;
      font-family: "Bebas-Neue";
      font-size: 100px;
      line-height: 0.55;
      color: $hero-color;
    }
  }

  &__button-wrapper {
    padding: 148px 0 112px;
    text-align: center;
  }
  &__background {
    width: 430px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}
