@use "../utils/variables" as *;
.speaker-section {
  &__person-wrapper-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    justify-items: center;
  }

  &__person-photo img {
    width: 164px;
    height: auto;
    border: 2px solid $hero-color;
    border-radius: 8px;

    @media screen and (max-width: 380px) {
      width: 134px;
    }
  }

  &__person-name h3 {
    padding-top: 5px;
    font-size: 15px;
    text-align: center;
    color: $secondary-color;
    @media screen and (max-width: 380px) {
      width: 134px;
    }
  }
}

.tooltip-wrapper {
  position: absolute;
}
.tooltip-trigger {
  position: relative;
  top: 10px;
  right: -134px;
  z-index: 2;
  width: 20px;
  height: 20px;
  font-size: 15px;
  text-align: center;
  background-color: $hero-color;
  border-radius: 50%;
  color: $primary-color;
  cursor: pointer;

  @media screen and (max-width: 380px) {
    right: -104px;
  }
}

.tooltip-text {
  position: absolute;
  bottom: 0%;
  left: 0;
  width: 164px;
  text-align: center;
  background-color: $secondary-color;
  color: $primary-color;
  padding: 4px 4px;
  border-radius: 4px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 12px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  z-index: 1;
  @media screen and (max-width: 380px) {
    width: 134px;
  }
}

.tooltip-wrapper:hover .tooltip-text,
.tooltip-wrapper:focus .tooltip-text {
  opacity: 1;
  visibility: visible;
}
