@use "../utils/variables" as *;
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter_28pt-Black", sans-serif;
  font-weight: 900;
  font-style: normal;
  background-color: $primary-color;
}

[class*="__container"] {
  max-width: 430px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
  //   background-color: $primary-color;
}

h2 {
  margin: 50px 0 40px 0;
  text-transform: uppercase;
  font-size: 50px;
  text-align: center;
  font-weight: 900;
  color: $secondary-color;
}

h3 {
  font-weight: 900;
}

p {
  color: $secondary-color;
}
